# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# From https://github.com/github/gitignore/blob/master/KiCad.gitignore
# MIT Licence - https://github.com/github/gitignore/blob/master/LICENSE

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# Exported BOM files
*.xml
*.csv
